*{
  background-color: rgb(31, 30, 30);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#top_background{
  background-color: rgb(26, 25, 25);
  position: fixed;
  margin: 0;
  width: 99%;
  height: 21%;
  bottom: 89%;
  right: 0.6%;
  border-radius: 10px;
  z-index: 5;
}

#top_text{
  color: white;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  top: -1%;
  left: 41%;
  height: 5%;
  width: 20%;
  outline: none;
  background-color: rgb(26, 25, 25, 0);
  font-size: 2.4vw;
}

#application_background{
  position: absolute;
  color: white;
  background-color: rgb(26, 25, 25);
  top: 16%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 15px;
}

#title_text{
  color: white;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  top: 14%;
  left: 44%;
  height: 5%;
  width: 20%;
  outline: none;
  background-color: rgb(26, 25, 25, 0);
  font-size: 2.3vw;
}

#first_name{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 17%;
  top: 14%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#first_name:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#name_title{
  position: absolute;
  top: 11.5%;
  left: 6%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;

}

#last_name{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 65%;
  top: 14%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#last_name:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#lastname_title{
  position: absolute;
  top: 11.5%;
  left: 54%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;

}

#email{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 17%;
  top: 24%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#email:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#email_title{
  position: absolute;
  top: 21.5%;
  left: 10%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
}

#feild{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 65%;
  top: 24%;
  width: 25%;
  height: 7%;
  border-color: white;
  text-indent: 10px;
  border-width: 2px;
}

#feild_title{
  position: absolute;
  top: 21.5%;
  left: 58.5%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
}

#feild:hover{
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(5, 4, 4);
  cursor: pointer;
  transition: 0.3s;
}

#options{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(26, 25, 25);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  font-size: 1.1vw;
  outline: none;
  border-color: white;
  text-indent: 10px;
  border-width: 2px;
}

#resume_title{
  position: absolute;
  top: 31.5%;
  left: 9%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
}

#resume{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 17%;
  top: 34%;
  width: 73%;
  height: 6%;
  border-color: white;
  text-indent: 10px;
  border-width: 2px;
}

#resume:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 236, 13);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#letter_title{
  position: absolute;
  top: 41.5%;
  left: 6%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
}

#letter{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(221, 205, 205, 0.973);
  font-size: 1.1vw;
  outline: none;
  left: 17%;
  top: 44%;
  width: 73%;
  height: 6%;
  border-color: white;
  text-indent: 10px;
  border-width: 2px;
}

#letter:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 236, 13);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#submit_button{
  position: absolute;
  left: 45%;
  top: 88%;
  width: 10%;
  height: 8%;
  border-style: solid;
  border-radius: 15px;
  outline: none;
  font-size: 1.1vw;
  cursor: pointer;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#submit_button:hover{
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(5, 4, 4);
  cursor: pointer;
  transition: 0.3s;
}

#accept_button{
  position: absolute;
  left: -10%;
  top: 0%;
  border-style: solid;
  border-radius: 15px;
  outline: none;
  font-size: 1.1vw;
  cursor: pointer;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#checkbox_holder{
  position: absolute;
  left: 15%;
  top: 90%;
  border-style: none;
  background-color: rgb(26, 25, 25, 0);
  outline: none;
  font-size: 1.1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#terms_title{
  position: absolute;
  top: 51.5%;
  left: 41%;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
}

#terms_conditions{
  position: absolute;
  color: white;
  background-color: rgb(14, 13, 13);
  top: 64%;
  left: 5%;
  width: 89%;
  height: 20%;
  border-radius: 15px;
}

#name_error{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(245, 4, 4);
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  text-align: center left;
  font-size: 0.7vw;
  outline: none;
  left: 17%;
  top: 19.3%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#lastname_error{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(245, 4, 4);
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  text-align: center left;
  font-size: 0.7vw;
  outline: none;
  left: 65.2%;
  top: 19.3%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#email_error{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(245, 4, 4);
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  text-align: center left;
  font-size: 0.7vw;
  outline: none;
  left: 17%;
  top: 29.3%;
  width: 25%;
  height: 6%;
  text-indent: 10px;
}

#resumeattachment{
  position: absolute;
  top: 34.7%;
  right: 10%;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  outline: none;
  color: white;
  width: 4%;
  height: 6%;
  text-align: center;
  font-size: 1vw;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  cursor: pointer;
}

#resumeattachment:hover{
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(5, 4, 4);
  cursor: pointer;
  transition: 0.3s;
}

#letterattachment{
  position: absolute;
  top: 44.6%;
  right: 10%;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  outline: none;
  color: white;
  width: 4%;
  height: 6%;
  text-align: center;
  font-size: 1vw;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  cursor: pointer;
}

#letterattachment:hover{
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(5, 4, 4);
  cursor: pointer;
  transition: 0.3s;
}