*{
  background-color: rgb(31, 30, 30)
}

.top_bar{
  background-color: rgb(26, 25, 25);
  position: fixed;
  margin: 0;
  width: 99%;
  height: 21%;
  bottom: 89%;
  right: 0.6%;
  z-index: 0;
  border-radius: 10px
}

.top_text{
  position:fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30%;
  border-radius: 0;
  margin-top: 0%;
  margin-left: 0.1%;
  backface-visibility: hidden;
  outline: none;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-size: 2.5vw;
  height: 11%;
  width: 11%;
  top: 0%;
  left: 1%;
}


#home_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 55.07%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#home_button:hover{
  background-color: rgb(0, 215, 0);
  color: black;
  transition: 0.3s
}

#friends_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 44.17%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#friends_button:hover{
  background-color: rgb(193, 215, 0);
  color: black;
  transition: 0.3s
}

#create_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 33.27%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#create_button:hover{
  background-color: rgb(215, 0, 0);
  color: black;
  transition: 0.3s
}

#games_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 22.37%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#games_button:hover{
  background-color: rgb(0, 215, 125);
  color: black;
  transition: 0.3s
}

#profile_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 11.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#profile_button:hover{
  background-color: rgb(93, 0, 215);
  color: black;
  transition: 0.3s
}


#settings_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 0.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#settings_button:hover{
  background-color: rgb(156, 156, 156);
  color: black;
  transition: 0.3s
}

#search_bar{
  position:  absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  top: 2%;
  right: 66.97%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205, 0.2);
  -webkit-text-size-adjust: 30px;
  height: 6%;
  width: 20%;
  outline: none;
  text-size-adjust: 30px;
  font-weight: 900;
  text-indent: 6%;
  transition: 0.3s;
}

#search_bar:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#search_bar:focus{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}
.btn{
 color:white;
 background-color: rgb(26, 25, 25);
 width: 115px;
 height: 25px;
padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  top: 100;
  left: 0;
  border-radius: 25px;
}
.btn:hover{
  background-color: red;
  transition: 0.3s;
}