*{
  background-color: rgb(31, 30, 30)
}

.top_bar{
  background-color: rgb(26, 25, 25);
  position: fixed;
  margin: 0;
  width: 99%;
  height: 21%;
  bottom: 89%;
  right: 0.6%;
  z-index: -1;
  border-radius: 10px
}

.top_text{
  position:fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30%;
  border-radius: 0;
  margin-top: 0%;
  margin-left: 0.1%;
  backface-visibility: hidden;
  outline: none;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-size: 2.5vw;
  height: 11%;
  width: 11%;
  top: 0%;
  left: 1%;
}


#home_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 55.07%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#home_button:hover{
  background-color: rgb(0, 215, 0);
  color: black;
  transition: 0.3s
}

#friends_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 44.17%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#friends_button:hover{
  background-color: rgb(193, 215, 0);
  color: black;
  transition: 0.3s
}

#create_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 33.27%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#create_button:hover{
  background-color: rgb(215, 0, 0);
  color: black;
  transition: 0.3s
}

#games_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 22.37%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#games_button:hover{
  background-color: rgb(0, 215, 125);
  color: black;
  transition: 0.3s
}

#profile_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 11.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#profile_button:hover{
  background-color: rgb(93, 0, 215);
  color: black;
  transition: 0.3s
}


#settings_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 0.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#settings_button:hover{
  background-color: rgb(156, 156, 156);
  color: black;
  transition: 0.3s
}

#search_bar{
  position:  absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  top: 2%;
  right: 66.97%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205, 0.2);
  -webkit-text-size-adjust: 30px;
  height: 6%;
  width: 20%;
  outline: none;
  text-size-adjust: 30px;
  font-weight: 900;
  text-indent: 6%;
  transition: 0.3s;

}

#search_bar:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#search_bar:focus{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

#status{
  position: absolute;
  width:36%;
  height: 30%;
  top: 15%;
  left:1%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  color: white;
  text-align: center;
}


#add_status{
  position: absolute;
  width:90%;
  height: 25%;
  top: 60%;
  left: 4%;
  border-radius: 15px;
  background-color: rgb(44, 43, 43);
  border-color: white;
  border-width: 2px;
  color: white;
  border-style: solid;
  outline: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  text-indent: 3%;
  transition: 0.3s;
  z-index: 100;
}

#add_status:focus{
  height: 50%;
  top:35%;
  text-align:start;
  transition: 0.3s
}

#title{
  position: absolute;
  width:100%;
  height: 5%;
  top: -5%;
  left:1%;
  background-color: rgb(44, 43, 43, 0);
  color: white;
  border-style: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 4%;
  font-size: 150%;
  z-index: 100;
}

#recent_posts{
  position: absolute;
  width:36%;
  height: 48%;
  top: 48%;
  left:1%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  color: white;
  text-align: center;
}

#recent_games{
  position: absolute;
  width: 60%;
  height: 59%;
  top: 37%;
  left:38.5%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  color: white;
  text-align: center;
}

#friends{
  position: absolute;
  width: 60%;
  height: 19%;
  top: 15%;
  left:38.5%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
  color: white;
  text-align: center;
}

#title_1{
  position: absolute;
  width: 100%;
  height: 1%;
  top: 0%;
  left:0.5%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25, 0);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  font-weight: 0%;

}

#background_friends{
  position: absolute;
  width: 98.5%;
  height: 90%;
  top: 5%;
  left: 0.8%;
  border-radius: 10px;
  background-color: rgb(54, 53, 53);
  color: white;
}

#recent_posts_background{
  position: absolute;
  width: 96%;
  height: 94%;
  top: 3%;
  left: 2%;
  border-radius: 10px;
  background-color: rgb(54, 53, 53);
  color: white;
}

#status_background{
  position: absolute;
  width: 96%;
  height: 91%;
  top: 4%;
  left: 2%;
  border-radius: 10px;
  background-color: rgb(54, 53, 53);
  color: white;
}

#recent_games_background{
  position: absolute;
  width: 98%;
  height: 96%;
  top: 2%;
  left: 1%;
  border-radius: 10px;
  background-color: rgb(54, 53, 53);
  color: white;
}

#pic_1{
  position: absolute;
  width: 45%;
  height: 50%;
  top: 13%;
  left: 2%;
  border-radius: 10px;
  background-color: rgb(26, 25, 25);
  color: white;
}

#pic_2{
  position: absolute;
  width: 47%;
  height: 83%;
  top: 13%;
  left: 50%;
  border-radius: 10px;
  background-color: rgb(26, 25, 25);
  color: white;
}

#create_games_background{
  position: absolute;
  width: 45%;
  height: 28%;
  top: 68%;
  left: 2%;
  border-radius: 10px;
  background-color: rgb(26, 25, 25);
  color: white;
}

#create_button_{
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  border-style: none;
  height: 45%;
  width: 94%;
  top: 45%;
  right: 3%;
  text-align: center;
  background-color: rgb(31, 148, 1);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

#create_button_:hover{
  background-color: rgb(38, 184, 2);
  transition: 0.3s;
}
.set_options{
  color: white;
  position: absolute;
}
