*{
  background-color: rgb(44, 43, 43);
  margin: 0;
}

.top_background{
  background-color: rgb(26, 25, 25);
  position: fixed;
  margin: 0;
  width: 99vw;
  height: 21vw;
  top: -15.7vw;
  right: 0.6vw;
  border-radius: 10px;
  z-index: 5;
}

form{
  margin: 10px;
  display: inline

}

form input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 2;
}

#Log_In{
  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  border-color: rgb(221, 205, 205, 0.8);
  -webkit-text-fill-color: white;
  z-index: 100;
  top: 0vw;
  right: 0vw;
  height: 5vw;
  width: 100vw;
}

#Log_In input{
 border-style: solid;
 position:  absolute;
 border-radius: 15px;
 background-color: rgb(26, 26, 25);
 border-color: rgb(221, 205, 205, 0.8);
 text-align: center left;
 -webkit-text-fill-color: rgb(241, 238, 238);
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 text-size-adjust: 30px;
 -webkit-text-size-adjust: 30px;
}

#top_text{
  position:fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30%;
  border-radius: 0;
  margin-top: 0%;
  margin-left: 0.1%;
  backface-visibility: hidden;
  outline: none;
  text-align: center;
  background-color: rgb(26, 25, 25, 0);
  font-size: 2.5vw;
  width: 12%;
  top: 2.3vh;
  left: 3%;
  cursor: pointer;
}

#Password{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  border-color: rgb(221, 205, 205, 0.8);
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205, 0.2);
  font-size: 1.2vw;
  outline: none;
  left: 71%;
  top: 1vw;
  width: 17vw;
  height: 3vw;
  transition: 0.3s

}

#Login{
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205, 0.2);
  font-size: 1.2vw;
  outline: none;
  left: 53vw;
  top: 1vw;
  width: 17vw;
  height: 3vw;
  transition: 0.3s

}

#Login:hover{
  background-color: rgb(49, 48, 48);
  color: rgb(13, 147, 236);
  border-color: rgb(13, 147, 236);
  -webkit-text-fill-color: white;
}

#Login:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 147, 236);
  -webkit-text-fill-color: white;
}

#Password:hover{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 147, 236);
  -webkit-text-fill-color: white;
}

#Password:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 147, 236);
  -webkit-text-fill-color: white;
}

#login_button{
  position: absolute;
  left: 89vw;
  top: 1vw;
  width: 7vw;
  height: 3.5vw;
  border-style: none;
  outline: none;
  font-size: 1.1vw;
  transition: 0.3s;
}

#login_button:hover{
  color: white;
  background-color: white;
  -webkit-text-fill-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

input[type="text"]{
  font-size: 15px;
  text-indent: 6%; 
}

input[type="password"]{
  font-size: 15px;
  text-indent: 6%;

}
input[type="email"]{
  font-size: 15px;
  text-indent: 6%;

}

.main-container{
  display: flex;
  flex-direction: column;
}

.top-container{
  display: flex;
  flex-direction: row;
}


#Register{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  top:25%;
  left:10%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205);
  font-size: 1.2vw;
  height: 2.9vw;
  width: 80%;
  outline: none;
  text-size-adjust: 30px;
  transition: 0.3s;
}

#Register:hover{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}
#Register:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}


#Email{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  top:40%;
  left:10%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205);
  font-size: 1.2vw;
  height: 2.9vw;
  width: 80%;
  outline: none;
  text-size-adjust: 30px;
  transition: 0.3s

}

#Email:hover{
 color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

#Email:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

#Password1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  top:55%;
  left:10%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205);
  font-size: 1.2vw;
  height: 2.9vw;
  width: 80%;
  outline: none;
  text-size-adjust: 30px;
  transition: 0.3s;
}

#Password1:hover{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}
#Password1:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}
#Password2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  top:70%;
  left:10%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205);
  font-size: 1.2vw;
  height: 2.9vw;
  width: 80%;
  outline: none;
  text-size-adjust: 30px;
  transition: 0.3s;
}

#Password2:hover{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

#Password2:focus{
  color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

#RegisterButton{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  top:85%;
  left:10%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205);
  font-size: 1.1vw;
  height: 2.9vw;
  width: 80%;
  outline: none;
  margin-bottom: 3%;
  text-size-adjust: 30px;
  transition: 0.3s;
}

#RegisterButton:hover{
  background-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(5, 5, 5);
  cursor: pointer;
}

#register_Background{
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  height: 25.7vw;
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  margin-top: 12vh;
  margin-left: 3vw;
  width: 26vw;
  right: 7vw;
  top: 7.6vw;
}

#register_Background > input{
  margin-top: 3%;
}

#Special_Div{
  position: absolute;
  outline: none;
  height: 0vw;
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  width: 0vw;
  right: 7vw;
  top: 7.6vw;
  visibility: none
}

#Desc_Background{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 25.7vw;
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  margin-left: 4.8vw;
  margin-right: 0.2vw;
  margin-top:12vh;
  width: 60vw;
}

#NoAccountText{
  outline: none;
  background: none;
  border-radius: 10px;
  margin: 8px;
  width: 23vw;
  right: 9vw;
  top: 7vw;
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 0;
  /* font-weight: 900; */
}

#Desc2_Background{
  display: flex;
  outline: none;
  height: 33vh;
  margin-top: 5vh;
  background-color: rgb(20, 19, 19);
  border-radius: 10px;
  width: 89.5vw;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}

#Description{
  outline: none;
  height: 90%;
  background-color: rgb(197, 9, 9, 0);
  border-radius: 10px;
  width: 97%;
  left: 1.5%;
  top: 5%;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
}

#Desc1_Background{
  outline: none;
  height: 24.5vw;
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
  width: 58.5vw;
}

.Top_bar{
  position: fixed;
  outline: none;
  height: 15%;
  background-color: rgb(26, 25, 25);
  border-radius: 10px;
  width: 99%;
  right: 0.5%;
  top: -3%;
}

#copyright{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5vh;
  height: 0.1%;
  text-align: center;
  background-color: rgb(26, 25, 25);
	font-size: 12px;
}

#error_mssg_lgin{
  position: fixed;
  top: 7%;
  right: 36%;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.84vw;
  background-color: rgb(20, 19, 19, 0);
  visibility: hidden;
}

.bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom_header{
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 19, 19);
  width: 99vw;
  height: 7.5vw;
  margin-top: 5vh; 
  margin-bottom: 0;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#jobs_tag{
  width: 3vw;
  height: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 1.6vw;
  background-color: rgb(20, 19, 19, 0);
  z-index: 50;
  transition: 0.1s;

}

#jobs_tag:hover{
  color: rgb(4, 243, 4);
  cursor: pointer;
}