*{
  background-color: rgb(41, 40, 40);
  margin: 0;
}

.top_bar{
  background-color: rgb(26, 25, 25);
  position: fixed;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 99%;
  height: 21%;
  bottom: 89%;
  right: 0.6%;
  z-index: 201;
  border-radius: 10px;
}

.top_text_holder{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 6vh;
  width: 17vw;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.top_text{
  background-color: rgb(26, 25, 25, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30%;
  border-radius: 0;
  margin-left: 3vw;
  backface-visibility: hidden;
  outline: none;
  text-align: center;
  font-size: 2.5vw;
  width: 13vw;
  cursor: pointer;
  z-index: 202;
}

.links-container{
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  width: 80vw;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  justify-content: center;
  align-items: center;
}

#top_text:hover{
  cursor: pointer;
}

#friends_button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 100%;
  width: 11vw;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 201;

}

#friends_button:hover{
  background-color: rgb(193, 215, 0);
  color: black;
}

#create_button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 100%;
  width: 11vw;
  top: 0%;
  right: 59.27%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 201;

}

#create_button:hover{
  background-color: rgb(215, 0, 0);
  color: black;
}

#games_button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 100%;
  width: 11vw;
  top: 0%;
  right: 48.37%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 201;

}

#games_button:hover{
  background-color: rgb(0, 215, 125);
  color: black;
}

#profile_button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 100%;
  width: 11vw;
  top: 0%;
  right: 37.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 201;

}

#profile_button:hover{
  background-color: rgb(93, 0, 215);
  color: black;
}


#settings_button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 5.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  background-color: rgb(26, 25, 25, 0);
  font-size:  1.8vw;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(90deg);
  z-index: 201;
}

#settings_button:hover{
  -webkit-text-fill-color:rgb(156, 156, 156);
}

#search_bar{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: rgb(70, 69, 69);
  background-color: rgb(26, 25, 25, 0);
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgba(250, 249, 249);
  -webkit-text-size-adjust: 30px;
  height: 6vh;
  width: 25vw;
  outline: none;
  text-size-adjust: 30px;
  text-indent: 6%;
  font-size: 1vw;
  transition: 0.3s;
  z-index: 201;
  margin-left: 2vw;
  margin-right: 2vw;
}

#search_bar:hover{
  background-color: rgb(49, 48, 48);
  border-color: rgb(13, 147, 236);
  -webkit-text-fill-color: white;
}

#search_bar:focus{
  border-color: rgb(13, 147, 236);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}

.bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom_header{
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 19, 19);
  width: 99vw;
  height: 7.5vw;
  margin-top: 5vh; 
  margin-bottom: 0;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

#jobs_tag{
  margin-top: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 1.6vw;
  background-color: rgb(20, 19, 19, 0);
  z-index: 50;
  transition: 0.1s;
  overflow: visible;
}

#jobs_tag:hover{
  color: rgb(4, 243, 4);
  cursor: pointer;
}

#copyright{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(26, 25, 25);
	font-size: 12px;
  margin-top: 5vh;
  z-index: 2;
}