*{
  overflow-x: hidden;
}

.container-A{
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 100vw;
  margin-top: 3vh;
  overflow: hidden;
  background-color: rgb(26, 25, 25, 0);
}

.container-1{
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgb(26, 25, 25, 0);
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container-2{
  display: flex;
  flex-direction: row;
  flex: 3.7;
  background-color: rgb(26, 25, 2,0);
  height: 100vh;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
}

.options_background{
  display:flex; 
  flex-direction: column;
  width: 90%;
  height: 80%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);

}

.options_background > button{
  height: 10%;
  width: 100%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

.options_background > button:hover{
  background-color: white;
  color: black;
}

#option1{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#main_settings_page{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

#main_settings_page_background{
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
  align-self: center;
  justify-self: center;
}

.inner-container-a1{
  display: flex;
  flex-direction: column;
  flex: 3.7;
  background-color: rgba(250, 240, 57, 0);
  height: 100vh;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
}

#profile_Customization_Page{
  display: flex;
  flex-direction: row;
  width: 96.7%;
  border-radius: 15px;
  margin-top: 15px;  
  margin-bottom: 15px;
  background-color: rgb(20, 19, 19);
  overflow: scroll;
  overflow-x: hidden;
}

.inner-container{
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: rgb(26, 25, 25, 0);
  margin-bottom: 15px;
}

.inner-container-a{
  display: flex;
  flex-direction: column;
  flex: 0.9;
  background-color: rgb(26, 25, 25, 0);
  align-items: center;
  overflow: visible;
  margin-bottom: 15px;
}

.inner-containerAC{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(26, 25, 25, 0);
  align-items: center;
}

.inner-container-1{
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left: 2vw;
  width: 100%;
  background-color: rgb(26, 25, 25, 0);
}

.inner-container-2{
  display: flex;
  flex-direction: row;
  margin-top: 2vh;  
  margin-left: 2vw;
  width: 100%;
  background-color: rgb(26, 25, 25, 0);
}

.inner-container-A2{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(26, 25, 25, 0);
}

.inner-container-3{
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 100%;
  background-color: rgb(26, 25, 25, 0);
}

#show_name{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 25px;
  margin-left: 20px;
}

#name{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 25px;
  margin-left: 15px;
}

#password{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 20px;

}

#password_value{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 15px;
}

#language{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 20px;
}

#language_value{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#title{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 20px;
}

.customize_profile{
  display: flex;
  flex-direction: column;
  width: 96.7%;
  border-radius: 15px;
  margin-top: 15px;  
  margin-bottom: 15px;
  background-color: rgb(20, 19, 19);
  overflow: scroll;
  overflow-x: hidden;
}

.customize_profile > h2, .customize_profile > h3{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 20px;
  overflow: visible;
}

#bio_input_holder{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(20, 19, 19); 
  height: 140px;
  width:60vw;
  border: none;
  border-radius: 15px;
  -webkit-text-fill-color: white;
  outline: 1px;
  outline-color: white;
  text-indent: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size:1.3vw;
  resize: none;
  text-align: start;
  margin-top: 15px;
  margin-left: 50px;
}

#bio_input{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 44, 44); 
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 15px;
  -webkit-text-fill-color: white;
  outline: 1px;
  outline-color: white;
  text-indent: 2%;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size:1.3vw;
  resize: none;
  line-height: 38px;
  transition: 0.3s;
}

#bio_input:hover{
  background-color: rgb(59, 59, 59);
  -webkit-text-fill-color: white;
}

#bio_input:focus{
  background-color: rgb(59, 59, 59);
  -webkit-text-fill-color: white;
}

#save{
  width: 120px;
  height: 45px;
  background-color: rgb(46, 45, 45);
  color: white;
  border-radius: 15px;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  font-size: 1.2vw;
  margin-top: 30px;
  margin-bottom: 15px;
  align-self: center;
  transition: 0.3s
}

#save:hover{
  color: black;
  -webkit-text-fill-color: black;
  background-color: rgb(252, 253, 252);
  cursor: pointer;
}

#change_name{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 78px;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 90px;
  height: 35px;
  outline: none;
  transition: 0.3s;
}

#change_name:hover{
  cursor: pointer;
  background-color: white;
  color: black
}

#change_password{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 15px;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 90px;
  height: 35px;
  outline: none;
  transition: 0.3s;
}

#change_password:hover{
  cursor: pointer;
  background-color: white;
  color: black
}

#change_language{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 15px;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 90px;
  height: 35px;
  outline: none;
  transition: 0.3s;
}

#change_language:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

#picture{
  width: 120px;
  height: 120px;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 50px;
  overflow: hidden;
}

.pic-background{
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 25, 2, 0);
  width: 100%;
  height: 16vw;
}

#change_name_input{ 
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
}

#cancel_change_name{
  position: absolute;
  top: 22%;
  left: 82%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}


#confirm_change_name{
  position: absolute;
  top: 22%;
  left: 90%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}

#logout:hover{
  background-color: red;
  color: black;
  cursor: pointer;
}

#change_password_input{
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
}

#billing_and_payments_page{
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#recent_purchases_background{
  display: flex;
  flex-direction: column;
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
  align-self: center;
  justify-self: center;
}

#recent_purchases_title{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  overflow: visible;
  align-content: center;
  justify-content: center;
  width: 100%;
  flex: 0.5;
}

#recent_purchases_bottom-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 6;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35, 0);
  overflow: scroll;
}

#no_recent_purchases_title{
  color: rgb(63, 60, 60);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin: 20%; /*20%*/
  justify-self: center;
  align-self: center;
}

#purchases_top_bar{
  display: flex;
  flex-direction: row;
  width: 96.7%;
  height: 5%;
  margin-top: 1vh;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(27, 27, 27, 0);
  overflow: scroll;
  align-self: center;
  justify-self: center;
}

#purchases_top_bar > h4{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  align-content: center;
  justify-content: center;
}

#example_purchase{
  display: flex;
  flex-direction: row;
  width: 96.7%;
  height: 100%;
  margin-top: 1vh;
  border-radius: 15px;
  background-color: rgb(27, 27, 27);
  overflow: scroll;
  align-self: center;
  justify-self: center;
}

#example_purchase > div{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1;
}


#example_purchase > div > h4{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  align-content: center;
  justify-content: center;
  overflow: visible;
}
/* Security and login */

#security_and_login_page{
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  visibility: hidden;
}

#slp-background{
  display: flex;
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
  align-self: center;
  justify-self: center;
}

#slp-background-a{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(36, 35, 35, 0);
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

#accounts_background{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin-top: 2.7vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  align-content: center;
}

#two-step-background{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 5vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

#two-step-background > div{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1;
}

#enable_twostep{
  display: flex;
  flex-direction: row;
  background-color: rgb(26, 25, 2, 0);
  justify-self: center;
  width: 20px;
  height: 20px;
  border-style: none;
  margin: 0vh;
  border-radius: 5px;
  cursor: pointer;
}

#slp-background-a > div > h2, h3, h4, p{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  align-content: center;
  justify-content: center;
}

#two-step-title{
  margin: 4vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: rgb(26, 25, 2, 0);
}

#two-step-description{
  color: grey;
  margin: 5vh;
  margin-top: 0vh;
  margin-bottom: 3vh;
}

#select-two-step{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 4vh;
  margin-left: 1.5vw;
  margin-bottom: 3vh;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 115px;
  height: 40px;
  font-size: 15px;
  outline: none;
  transition: 0.3s
}

#select-two-step:hover{
  background-color: rgb(250, 246, 246);
  color: black;
  cursor: pointer;
}

#recent-login-background{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

#recent-login-title{
  margin: 4vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#recent-login-description{
  color: grey;
  margin: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#recent-login-button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 4vh;
  margin-left: 1.5vw;
  margin-bottom: 3vh;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 115px;
  height: 40px;
  font-size: 15px;
  outline: none;
  transition: 0.3s
}

#recent-login-button:hover{
  background-color: rgb(250, 246, 246);
  color: black;
  cursor: pointer;
}

#recent-login-partial-list{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 115px;
  margin-top: 1vh;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
  overflow-x: hidden;  
  overflow: hidden;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

#recent-login-partial-list > div > h4, p{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  margin: 2px;
  justify-content: center;
}

#listed-value{
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 115px;
  margin-top: 3vh;
  border-radius: 5px;
  background-color: rgb(46, 45, 45, 0);
  overflow: visible;
  align-self: center;
  justify-self: center;
}

#privacy_page{
  display: flex;
  flex-direction: row;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

#priv_page_container{
  display: flex;
  flex-direction: column;
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
}

#posts-background{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2.7vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  align-content: center;
}

#posts-background > h2, h3, h4{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  align-content: center;
  justify-content: center;
}

#posts-title{
  margin: 4vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#posts-desc{
  color: grey;
  margin: 5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#options{
  color: white;
  margin: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 25%;
  height: 45px;
  border-radius: 15px;
  border-style: solid;
  outline: none;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-content: center;
  text-align: left;
  text-indent: 15px;
  cursor: pointer;
  font-size: 1.1vw;
  transition: 0.3s;
}

#options:hover{
  background-color: white;
  -webkit-text-fill-color: black;
  cursor: pointer;
}

.options-selection{
  display: flex;
  flex-direction: column;
  color: white;
  margin: 5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  width: 25%;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  outline: none;
  text-decoration-style: none;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-content: center;
  text-align: left;
  text-indent: 15px;
  cursor: pointer;
  font-size: 1.1vw;
  transition: 0.3s;
}

.options-selection > p{
  color: white;
  font-size: 1.3vw;
  border-width: 0;
  justify-content: center;
  height: 30px;
  border-bottom-width: 2px;
}

.options-selection > p:hover{
  background-color: rgb(26, 25, 25);
}

#messages-background{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2.7vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  align-content: center;
}

#messages-background > h2, h3, h4{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
  align-content: center;
  justify-content: center;
}

#messages-title{
  margin: 4vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#messages-description{
  color: grey;
  margin: 5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#messaging-options{
  color: white;
  margin: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 25%;
  height: 45px;
  border-radius: 15px;
  border-style: solid;
  outline: none;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-content: center;
  text-align: left;
  text-indent: 15px;
  cursor: pointer;
  font-size: 1.1vw;
  transition: 0.3s;
}

#messaging-options:hover{
  background-color: white;
  -webkit-text-fill-color: black;
}

#blocking_page{
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#blocked_title{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  overflow: visible;
  align-content: center;
  justify-content: center;
  width: 100%;
  flex: 0.5;
}

#no_blocked_members{
  color: rgb(63, 60, 60);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin: 20%; /*20%*/
  justify-self: center;
  align-self: center;
}

#blocking_page_background{
  display: flex;
  flex-direction: column;
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
  align-items: center;
}

#groups_page{
  display: flex;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  visibility: hidden;
}

#content_type_page{
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

#notifications_page{
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

#notifications_background{
  width: 96.7%;
  height: 94.4%;
  border-radius: 15px;
  max-height: 100vh;
  background-color: rgb(36, 35, 35);
  overflow: scroll;
  overflow-x: hidden;
}

#notifications_background > div > h2, h3, h4{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  overflow: visible;
}

#notifications_holder{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(36, 35, 35, 0);
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

#notifications_holder > div{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 3vh;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;  
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  overflow: visible;
}

#notifications_holder > div > h2{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
  margin-top: 15px;
  margin-left: 3vw;
  margin-bottom: 1vh;
  overflow: visible;
}

#notifications_holder > div > div{
  display: flex;
  flex-direction: row;
  background-color: rgb(26, 25, 2, 0);
  align-items: center;
  overflow: visible;
}

#notifications_holder > div > div > h3{
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 2vh;
  margin-left: 4vw
}

#notifications_holder > div > div > input{
  display: flex;
  flex-direction: row;
  background-color: rgb(26, 25, 2, 0);
  justify-self: center;
  width: 20px;
  height: 20px;
  border-style: none;
  margin: 2vh;
  border-radius: 5px;
  cursor: pointer;
}

#notifications_holder > div > p{
  color: grey;
  margin: 5vh;
  margin-top: 1vh;
  margin-left: 4vw;
  margin-bottom: 2vh;
}

/*
@media only screen and (max-width: 480px) {
  #options_background{
    visibility: visible; 
    width : 96%;
    left : 2%;
    font-size : 3vw;
  }
  #main_settings_page{
    width: 96%;
    left: 2%;
    visibility: hidden;
    border-radius: 25px;
  }
  #profile_Customization_Page{
    font-size: 3vw;
    height: 40%;
    border-radius: 25px;
  }
  #password_value{
    left: 28%;
  }
  #language_value{
    left: 28%;
  }
  #customize_profile{
    height: 50%;
    top: 45%;
    font-size: 3vw;
    border-radius: 25px;
  }
  #pf_picture{
    top: 60%;
  }
  #picture{
    top: 80%;
  }
  #bio{
    top: 15%;
  }
  #bio_input{
    top: 35%;
    font-size: 3vw;
  }
  #submitbio{
    top: 45%;
    width: 20%;
    font-size: 3vw;
  }
  #logout{
    width: 20%;
    font-size: 3vw;
  }
  #option1{
    font-size: 3vw;
  }
  #option2{
    font-size: 3vw;
  }
  #option3{
    font-size: 3vw;
  }
  #option4{
    font-size: 3vw;
  }
  #option5{
    font-size: 3vw;
  }
  #option6{
    font-size: 3vw;
  }
  #option7{
    font-size: 3vw;
  }
  #option8{
    font-size: 3vw;
  }
  #option9{
    font-size: 3vw;
  }
  #option10{
    font-size: 3vw;
  }
  #home_button{
    font-size: 2.5vw;
  }
  #friends_button{
    font-size: 2.5vw;
  }
  #create_button{
    font-size: 2.5vw;
  }
  #settings_button{
    font-size: 2.5vw;
  }
  #profile_button{
    font-size: 2.5vw;
  }
  #games_button{
    font-size: 2.5vw;
  }
}*/