#options_background{
  position: absolute;
  height: 80%;
  width: 20%;
  top: 15%;
  left: 2%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);

}

#option1{
  position: absolute;
  height: 10%;
  width: 100%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s

}

#option1:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option2{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 10%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option2:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}


#option3{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 20%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option3:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}


#option4{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 30%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option4:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option5{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 40%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option5:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option6{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 50%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option6:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option7{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 60%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option7:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option8{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 70%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option8:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option9{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 80%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option9:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#option10{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 90%;
  border-style: none;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s
}

#option10:hover{
  background-color: rgb(228, 225, 225);
  color: black;
}

#main_settings_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

#profile_Customization_Page{
  position: absolute;
  width: 98%;
  height: 55%;
  top:2%;
  left: 1%;
  border-radius: 15px;
  background-color: rgb(36, 35, 35);
}

#show_name{
  position: absolute;
  top: 22%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#name{
  position: absolute;
  top: 22%;
  left: 20%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#password{
  position: absolute;
  top: 40%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);

}

#password_value{
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0); 
}

#language{
  position: absolute;
  top: 59%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#language_value{
  position: absolute;
  top: 59%;
  left: 20%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#title{
  position: absolute;
  top: 1%;
  left: 4%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#customize_profile{
  position: absolute;
  width: 98%;
  height: 125%;
  top:60%;
  left: 1%;
  border-radius: 15px;
  overflow: scroll;
  background-color: rgb(36, 35, 35);
}

#title1{
  position: absolute;
  top: 1%;
  left: 4%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#bio{
  position: absolute;
  top: 62%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#bio_input_holder{
  position: absolute;
  top: 74%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(20, 19, 19); 
  height: 20%;
  width:80%;
  border: none;
  border-radius: 15px;
  -webkit-text-fill-color: white;
  outline: 1px;
  outline-color: white;
  text-indent: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size:1.3vw;
  resize: none;
  text-align: start;
}

#bio_input{
  position: absolute;
  top: 0%;
  left: 0%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(20, 19, 19); 
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 15px;
  -webkit-text-fill-color: white;
  outline: 1px;
  outline-color: white;
  text-indent: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size:1.3vw;
  resize: none;
  line-height: 38px;
}

#bio_input:hover{
  border-color: rgb(13, 236, 13);
  background-color: rgb(17, 17, 17);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#submitbio{
  position: absolute;
  top: 60%;
  right: 1%;
  width: 15%;
  height: 35%;
  background-color: rgb(46, 45, 45);
  color: white;
  border-radius: 15px;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  font-size: 1.2vw;
  transition: 0.3s
}

#submitbio:hover{
  color: black;
  -webkit-text-fill-color: black;
  background-color: rgb(252, 253, 252);
  cursor: pointer;
}

#change_name{
  position: absolute;
  top: 22%;
  left: 90%;
  color: white;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-radius: 15px;
  width: 8%;
  height: 12%;
  outline: none;
  transition: 0.3s
}

#change_name:hover{
  cursor: pointer;
  background-color: white;
  color: black
}

#change_password{
  position: absolute;
  top: 39%;
  left: 90%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  border-style: none;
  border-radius: 15px;
  width: 8%;
  height: 12%;
  outline: none;
  transition: 0.3s
}

#change_password:hover{
  cursor: pointer;
  background-color: white;
  color: black
}

#pf_picture{
  position: absolute;
  top: 12%;
  left: 2%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25, 0);
}

#picture{
  position: absolute;
  top: 24%;
  left: 3%;
  width: 20%;
  height: 30%;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
}

#placeholder_head{
  position: absolute;
  top: 7%;
  left: 30%;
  width: 40%;
  height: 38%;
  background-color: rgb(34, 33, 33);
  border-radius: 50%;
  border-width: 50%;
}


#placeholder_body{
  position: absolute;
  top: 47%;
  left: 18%;
  width: 66%;
  height: 78%;
  background-color: rgb(34, 33, 33);
  border-radius: 50%;
  border-width: 50%;
}

#change_name_input{ 
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
}

#cancel_change_name{
  position: absolute;
  top: 22%;
  left: 82%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}


#confirm_change_name{
  position: absolute;
  top: 22%;
  left: 90%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}

#logout{
  position: absolute;
  top: 80%;
  right: 3%;
  height: 14%;
  width: 12%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(46, 45, 45);
  text-align: center;
  border-style: none;
  border-radius: 15px;
  font-size: 1.1vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s
}

#logout:hover{
  background-color: red;
  color: black;
  cursor: pointer;
}

#change_password_input{
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  visibility: hidden;
}

#billing_and_payments_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#security_and_login_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#privacy_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#blocking_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#groups_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#content_type_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}

#notifications_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 24%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow-x: hidden;
  visibility: hidden;
}


/*
@media only screen and (max-width: 480px) {
  #options_background{
    visibility: visible; 
    width : 96%;
    left : 2%;
    font-size : 3vw;
  }
  #main_settings_page{
    width: 96%;
    left: 2%;
    visibility: hidden;
    border-radius: 25px;
  }
  #profile_Customization_Page{
    font-size: 3vw;
    height: 40%;
    border-radius: 25px;
  }
  #password_value{
    left: 28%;
  }
  #language_value{
    left: 28%;
  }
  #customize_profile{
    height: 50%;
    top: 45%;
    font-size: 3vw;
    border-radius: 25px;
  }
  #pf_picture{
    top: 60%;
  }
  #picture{
    top: 80%;
  }
  #bio{
    top: 15%;
  }
  #bio_input{
    top: 35%;
    font-size: 3vw;
  }
  #submitbio{
    top: 45%;
    width: 20%;
    font-size: 3vw;
  }
  #logout{
    width: 20%;
    font-size: 3vw;
  }
  #option1{
    font-size: 3vw;
  }
  #option2{
    font-size: 3vw;
  }
  #option3{
    font-size: 3vw;
  }
  #option4{
    font-size: 3vw;
  }
  #option5{
    font-size: 3vw;
  }
  #option6{
    font-size: 3vw;
  }
  #option7{
    font-size: 3vw;
  }
  #option8{
    font-size: 3vw;
  }
  #option9{
    font-size: 3vw;
  }
  #option10{
    font-size: 3vw;
  }
  #home_button{
    font-size: 2.5vw;
  }
  #friends_button{
    font-size: 2.5vw;
  }
  #create_button{
    font-size: 2.5vw;
  }
  #settings_button{
    font-size: 2.5vw;
  }
  #profile_button{
    font-size: 2.5vw;
  }
  #games_button{
    font-size: 2.5vw;
  }
}*/