*{
  background-color: rgb(31, 30, 30)
}

.top_bar{
  background-color: rgb(26, 25, 25);
  position: fixed;
  margin: 0;
  width: 99%;
  height: 21%;
  bottom: 89%;
  right: 0.6%;
  z-index: 0;
  border-radius: 10px
}

.top_text{
  position:fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 30%;
  border-radius: 0;
  margin-top: 0%;
  margin-left: 0.1%;
  backface-visibility: hidden;
  outline: none;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-size: 2.5vw;
  height: 11%;
  width: 11%;
  top: 0%;
  left: 1%;
}


#home_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 55.07%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#home_button:hover{
  background-color: rgb(0, 215, 0);
  color: black;
  transition: 0.3s
}

#friends_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 44.17%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#friends_button:hover{
  background-color: rgb(193, 215, 0);
  color: black;
  transition: 0.3s
}

#create_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 33.27%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#create_button:hover{
  background-color: rgb(215, 0, 0);
  color: black;
  transition: 0.3s
}

#games_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 22.37%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#games_button:hover{
  background-color: rgb(0, 215, 125);
  color: black;
  transition: 0.3s
}

#profile_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 11.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#profile_button:hover{
  background-color: rgb(93, 0, 215);
  color: black;
  transition: 0.3s
}


#settings_button{
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0;
  border-style: none;
  height: 11%;
  width: 11%;
  top: 0%;
  right: 0.47%;
  text-align: center;
  background-color: rgb(26, 25, 25);
  font-weight: 900;
  font-size:  1.25vw;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

}

#settings_button:hover{
  background-color: rgb(156, 156, 156);
  color: black;
  transition: 0.3s
}

#search_bar{
  position:  absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(26, 25, 25, 0);
  z-index: 1;
  top: 2%;
  right: 66.97%;
  border-style: solid;
  border-radius: 15px;
  text-align: center left;
  -webkit-text-fill-color: rgb(221, 205, 205, 0.2);
  -webkit-text-size-adjust: 30px;
  height: 6%;
  width: 20%;
  outline: none;
  text-size-adjust: 30px;
  font-weight: 900;
  text-indent: 6%;
  transition: 0.3s;
}

#search_bar:hover{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#search_bar:focus{
  color: rgb(13, 236, 13);
  background-color: rgb(49, 48, 48);
  -webkit-text-fill-color: white;
}


#options_background{
  position: absolute;
  height: 80%;
  width: 20%;
  top: 15%;
  left: 78%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
}

#option1{
  position: absolute;
  height: 10%;
  width: 100%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option1:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option2{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 10%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option2:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}


#option3{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 20%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option3:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}


#option4{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 30%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option4:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option5{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 40%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option5:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option6{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 50%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option6:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option7{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 60%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option7:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option8{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 70%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option8:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option9{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 80%;
  border-style: none;
  cursor: pointer;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option9:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}

#option10{
  position: absolute;
  height: 10%;
  width: 100%;
  top: 90%;
  border-style: none;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(20, 19, 19);
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  color: white;
  transition: 0.3s;
}

#option10:hover{
  background-color: rgb(228, 225, 225);
  color: black;
  transition: 0.3s
}



#main_settings_page{
  position: absolute;
  height: 80%;
  width: 74%;
  top: 15%;
  left: 2%;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  overflow: scroll;

}

#profile_Customization_Page{
  position: absolute;
  width: 98%;
  height: 55%;
  top:2%;
  left: 1%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
}

#show_name{
  position: absolute;
  top: 22%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#name{
  position: absolute;
  top: 22%;
  left: 20%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#password{
  position: absolute;
  top: 40%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);

}

#password_value{
  position: absolute;
  top: 40%;
  left: 20%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#language{
  position: absolute;
  top: 59%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#language_value{
  position: absolute;
  top: 59%;
  left: 20%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#title{
  position: absolute;
  top: 1%;
  left: 4%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#customize_profile{
  position: absolute;
  width: 98%;
  height: 125%;
  top:60%;
  left: 1%;
  border-radius: 15px;
  background-color: rgb(26, 25, 25);
}

#title1{
  position: absolute;
  top: 1%;
  left: 4%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#bio{
  position: absolute;
  top: 12%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#bio_input{
  position: absolute;
  top: 24%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(20, 19, 19); 
  height: 20%;
  width:80%;
  border: none;
  border-radius: 15px;
  outline: 1px;
  outline-color: white;
  text-indent: 2%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size:1.3vw;
  resize: none;
  text-align: start;
  transition: 0.3s;
}

#bio_input:hover{
  border-color: rgb(13, 236, 13);
  background-color: rgb(17, 17, 17);
  -webkit-text-fill-color: white;
  transition: 0.3s
}

#submitbio{
  position: absolute;
  top: 35%;
  right: 19%;
  width: 15%;
  height: 7%;
  background-color: rgb(46, 45, 45);
  color: white;
  border-radius: 15px;
  border-style: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  outline: none;
  font-size: 1.2vw;

}

#submitbio:hover{
  color: black;
  background-color: rgb(4, 233, 4);
  cursor: pointer;
  transition: 0.3s;
}

#change_name{
  position: absolute;
  top: 22%;
  left: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#change_name:hover{
  cursor: pointer
}

#change_password{
  position: absolute;
  top: 39%;
  left: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#change_password:hover{
  cursor: pointer;
}

#pf_picture{
  position: absolute;
  top: 46%;
  left: 2%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
}

#picture{
  position: absolute;
  top: 58%;
  left: 3%;
  width: 25%;
  height: 30%;
  background-color: rgb(17, 17, 17);
  border-radius: 15px;
}

#change_name_input{ 
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
}

#cancel_change_name{
  position: absolute;
  top: 22%;
  left: 82%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}


#confirm_change_name{
  position: absolute;
  top: 22%;
  left: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
  visibility: hidden;
  cursor: pointer;
}

#logout{
  position: absolute;
  top: 80%;
  right: 3%;
  height: 14%;
  width: 12%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(46, 45, 45);
  text-align: center;
  border-style: none;
  border-radius: 15px;
  font-size: 1.1vw;
  outline: none;
  cursor: pointer;
}

#logout:hover{
  background-color: red;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

#change_password_input{
  position: absolute;
  top: 25%;
  left: 20%;
  border-style: none;
  border-radius: 15px;
  height: 14%;
  width: 60%;
  outline: none;
  color: white;
  font-size: 1.1vw;
  background-color: rgb(41, 40, 40);
  text-indent: 2%;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
}